<!doctype html>
<html lang="en">

<head>
    <title>Notes Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <center>
        <div class="col-8">
            <center>
                <h2 class="mt-5">Notes</h2>
            </center>
            <form action="/notes/write" method="post">
                <div>
                    <label for="title"></label>
                    <input type="text" class="form-control" id="title" name="Title"  placeholder="Title" >
                </div>
                <div>
                    <label for="body"></label>
                    <input type="text" class="form-control" id="body" name="Body" placeholder="Body">
                </div>
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </form>
        </div>
    </center>
    <hr>
    <div class="border p-5">
        <div style="float: right;">

            <form action="/notes/all" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger" value="Delete All Notes">
            </form>
        </div>
        <div>
            <table class="table">
                <th>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">BODY</th>
                    </tr>
                </th>
                <tbody>
                    {{#each data}}
                    <tr class="notes_list">
                        <form action="/notes/write" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <td scope="row">
                                <input type="text" class="form-control" value="{{this.id}}" readonly>
                            </td>
                            <td>
                                <input type="text" class="form-control" value="{{this.Title}}" readonly>

                            </td>
                            <td>
                                <input type="text" class="form-control" value="{{this.Body}}" readonly>

                            </td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </form>

                        <td>
                            <form action="/notes/edit" method="GET">
                                <input type="submit" class="btn btn-warning" value="Edit">
                            </form>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>