<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{!-- <style>
    body {
        border: 1px solid gray;
        padding: 50px;
        margin: 100px;
        height: fit-content;
    }

    .bg {}

    td,
    th {
        border: 1px solid rgb(161, 161, 161);
        padding: 5px 10px;
    }
</style> --}}

<body>
    <div class="bg">
        <h3>Hello </h3>
        <p> I am {{username}}, going to delete this note with details</p>
        <table>
            <tr>
                <th scope="col">Title :{{title}}</th>
                <th scope="col">Body :{{body}}</th>
            </tr>
        </table>
        <h4>Thank You</h4>
    </div>
</body>

</html>